/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

@import url("https://use.typekit.net/tdu8ywr.css");
.wpbody,
.wpbody p {
    font-family: "museo-sans", sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
    height: 100vh;
    overflow: hidden;
}

.museo-sans-300 {
    font-family: "museo-sans", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.museo-sans-500 {
    font-family: "museo-sans", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.museo-sans-700 {
    font-family: "museo-sans", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

.museo-sans-display-400 {
    font-family: "museo-sans-display", sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
}

.museo-sans-display-800 {
    font-family: "museo-sans-display", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.museo-sans-rounded-300 {
    font-family: "museo-sans-rounded", sans-serif !important;
    font-style: normal !important;
    font-weight: 300 !important;
}

.museo-sans-rounded-700 {
    font-family: "museo-sans-rounded", sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

.museo-sans-cond-300 {
    font-family: "museo-sans-condensed", sans-serif !important;
    font-style: normal !important;
    font-weight: 300 !important;
}

.museo-sans-cond-500 {
    font-family: "museo-sans-condensed", sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
}

.museo-sans-cond-700 {
    font-family: "museo-sans-condensed", sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

.bunny-project-card {
    min-width: 320px;
}

.bunny-project-card .el-card__body {
    padding: 0;
    height: 165px;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    background-color: rgba($color-2, 1) !important;
}

.bunny-project-card .background-img {
    height: 35px;
    max-height: 35px;
    overflow: hidden;
}

.bunny-project-card .manage-label {
    position: relative;
    width: 100%;
    z-index: 1;
    height: 35px;
    background: #EBEEF5;
    border-bottom: 1px solid #EBEEF5;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: move;
}

.bunny-project-card .project-avatar {
    position: relative;
    top: -22px;
    margin-bottom: -20px;
}

.auth-card.el-card {
    width: 380px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}